.App {
  text-align: center;
  background-color: tan;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img {
  width: 250px;
  padding: 10px;
}

.add-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: gold;
  align-items: center;
  font-family: monospace;
  font-size: 1rem;
  padding-left: 3rem;
  border:outset;
  border-radius: 2rem;
}

.name {
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding-left: 20rem;
  align-items: center;
  font-family: monospace;
  font-size: 1rem;
  background-color:slategray;
  font-family: monospace;
  border-radius: 2rem;
  border:outset;
}

h1 {
  font-family:cursive;
  font-size: 3rem;
  border-radius: 2rem;
  border:outset;
  background-color:teal;
  color: aliceblue;
}

.menu {
  font-family: monospace;
  font-size: 1rem;
  padding: 30px;
  background-color: lightgrey;
  border:outset;
  border-radius: 2rem;
}

.instructions {
  background-color:goldenrod;
  padding: 20px;
  font-family: monospace;
  font-size: 1rem;
  border:outset;
  border-radius: 3rem;
}